*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
body::before{
    content: "";
    height: 1009px;
    width: 1009px;
    display: block;
    position: absolute;
    background-image: url('../images/backcover.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    right: 0rem;
    top: 0;
    z-index: -2;
}
.main-div{
    position: relative;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 29px;
}
nav img{
    height: 45px;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-item{
    margin-right: 30px;
    width: 60px;
}
.signin-btn{
    margin-right: 100px;
    padding: 4px 18px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    color: #fff;
    background:linear-gradient(90deg,#965CF2 0%,#ED82E0 100%);
}
.intro-section{
    display: flex;
    flex-direction: row;
}
.left-section{
    width: 40%;
    margin-top: 90px;
    margin-left: 125px;
}
.left-section h1{
    font-size: 80px;
    color: #4A539A;
    font-family: sans-serif;
}
.left-section h4{
    margin-top: 30px;
    margin-left: 10px;
    color: #707392;
    word-spacing: 5px;

}
.left-section .learn-more-btn{
    background:linear-gradient(90deg,#965CF2 0%,#ED82E0 100%);
    margin-top: 50px;
    width: 180px;
    font-size: 19px;
    margin-left: 10px;
    padding: 10px 10px;
    color: #fff;
    border: 1px solid white;
    border-radius: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family:sans-serif;
}

/*  --------right section ------------------ */

.imgs-div{
    position: relative;
    display: flex;
    width: 80%;
}
.imgs-div .intro-img{
    height: 620px;
}
.imgs-div .vector-img{
    position: relative;
    top: 160px;
}
.imgs-div .vector-dot{
    position: relative;
    top: 135px;
    right:45px;
}

@media screen and (max-width:1200px){
    body::before{
        height: 900px;
        width: 900px;
    }
    nav img{
        width: 55px;
    }
    .nav-items{
        display: flex;
        flex-direction: row;
    }
    .signin-btn{
        margin-right: 300px;
        padding: 8px 18px;
    }
    
    .left-section{
        margin-left: 20px;
    }
    .left-section h1{
        font-size: 50px;

    }
    .left-section h4{
        font-size: 11px;
    }
    .left-section .learn-more-btn{
        margin-top: 20px;
        width: 120px;
        font-size: 12px;
    }
    
    .imgs-div{
        display: flex;
        width: 100%;
        margin-right: 140px;
    }
    .imgs-div .intro-img{
        height: 400px;
        margin-right: 340px;
    }
    .imgs-div .vector-img{
        position: relative;
        top: 160px;
        width: 60px;
    }
    .imgs-div .vector-dot{
        right:25px;
    }
}
@media screen and (max-width:950px){
    body::before{
        height: 660px;
        width: 660px;
    }
    .nav-items{
        margin-left: 80px;
    }
    .signin-btn{
        margin-right: 80px;
        padding: 6px 16px;
    }
    
    .left-section{
        margin-left: 60px;
    }
    .left-section h1{
        font-size: 60px;

    }
    
    .imgs-div .vector-img{
        position: relative;
        top: 220px;
    }
    .imgs-div .vector-dot{
        margin-top: 100px;
    }
}


@media screen and (max-width:650px){
    body::before{
        height: 480px;
        width: 480px;
    }
    nav img{
        width: 45px;
        margin-left: 0px;
    }
    .nav-item{
        display: none;
    }
    .signin-btn{
        margin-right: 0px;
        padding: 5px 18px;
    }
    .intro-section{
        flex-direction: column-reverse;
        
    }
    .left-section{
        margin-left: 140px;
    }
    .imgs-div .vector-img{
        position: relative;
        top: 220px;
    }
    

} 